@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --pink: #ec4899;
    --purple: #8b5cf6;
    --cyan: #00ffff;
}

body {
    background: var(--dark);
}

.title {
    color: rgba(243, 243, 243, 0.527);
    font-size: 5rem;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    margin: 30px auto 150px auto;
    text-align: center;
    display: table;
}

#main {
    width: 100%;
    min-height: 100vh;
}

.title:hover {
    background: #000;
}



#userInputBox {
    padding: 15px;
    border: none;
    outline-style: none;
    width: 100%;
    background-color: var(--darker);
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--gray);
}

.addButton {
    margin-left: 10px;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    background: linear-gradient(to right,var(--pink),var(--purple));
    border-radius: 1rem;
    color: white;
    border: none;
}

.addButton:hover,
.addbutton:focus,
.addbutton:active {
    cursor: pointer;
    border-radius: 1rem;
    background: linear-gradient(to right,var(--cyan),var(--pink));
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(249, 104, 203, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
}


.todoContainer {
    width: 40%;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    align-items: center;
    gap: 6px;
}

.lists {
    text-align: center;
    margin-top: 60px;
}

.lists div p {
    color: white;
}

.list {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

.list div {
    display: flex;
    flex-direction: column;
}

.list div p {
    background-color: var(--darker);
    padding: 10px;
    border-radius: 1rem;
    font-size: 1.15rem;
}

.list div i {
    font-weight: normal;
    color: white;
    font-size: x-small;
    text-align: left;
    margin: 4px;
}

.list button {
    width: 70px;
    height: 40px;
}

.deleteButton {
    background: red;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.15rem;
    
}

.deleteButton:hover {
    background: #370c24;
    box-shadow: 0 0 20px rgba(250, 8, 52, 0.947);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    cursor: pointer;
}

.editButton {
    background: yellow;
    border: none;
    border-radius: 1rem;
    font-size: 1.15rem;
}

.editButton:hover {
    background: #3b3b0c;
    box-shadow: 0 0 20px rgba(246, 218, 6, 0.976);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    cursor: pointer;
    color: white;
}